@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Monument Extended";
    src: url("./fonts/MonumentExtended-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Monument Extended", sans-serif;
}

.head-section {
  background: url(./assets/bg@2x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}