@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Monument Extended";
    src: url("./fonts/MonumentExtended-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Monument Extended", sans-serif;
}

.head-section {
  background: url(./assets/bg@2x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // filter: blur(10px);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000d3; /* Qorong'ilashtiruvchi qoplama */
    z-index: 0;
  }
}
.nav-shadow {
  transition: all ease-in .2s;
  box-shadow: 0 10px 18px rgb(255, 255, 255);
  border-bottom: 2px solid #000000;
}
.navbar  {
  background: white;
  mix-blend-mode: hard-light;
}
h4 {
  // background: #f50000;
  mix-blend-mode: difference;
}